/*
________________________________________ Connection  ________________________________________________

*/
input, select{
	border-radius:5px;
	padding:5px;
	height:35px;
	border:2px solid #CEDEF9;
	width:60%;
	text-align:center;
}
 #widget_scroll_container {
                width: 2160px;
            }
            div.widget_container {
                width: 1200px;
            }
            div.widget_container.half {
                width: 400px;
            }
            @media screen and (max-height: 680px) {
                #widget_scroll_container {
                    width: 1660px;
                }
                div.widget_container {
                    width: 900px;
                }
                div.widget_container.half {
                    width: 300px;
                }
            }
.btn-connect{
	width:25%;
	height:50px;
	font-size: 17px;
}

.widget{
	margin: 20px 20px 0 0 ;
}
.scren{
	float: left;
	margin-left: 50px;
}

.text_shadow {
    color: #222222;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

div.widget_container {
    position: relative;
    margin-right: 50px; /* when this value is changed, make sure its also updated in ui class ($container_margin) */
    float: left;
    padding: 10px;  /* when this value is changed, make sure its also updated in ui class ($container_padding) */
    -webkit-perspective: 1000px;
       -moz-perspective: 1000px;
        -ms-perspective: 1000px;
         -o-perspective: 1000px;
            perspective: 1000px;
}
div.widget_container:last-child {
    margin-right: 0px;
}

div.widget{
    opacity: 0.5;
}

div.widget :hover{
    opacity: 1;
}
div.widget {

    float: left;
    position: relative;
    color: #FFFFFF;
    cursor: pointer;
    margin: 3px; /* when this value is changed, make sure its also updated in ui class ($widget_margin) */
    opacity: 1;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
       -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
        -ms-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
         -o-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
         -o-transform: rotateY(0deg);
            transform: rotateY(0deg);
            text-align: center;
}
div.widget.unloaded {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
       -moz-transform: rotateY(-90deg);
        -ms-transform: rotateY(-90deg);
         -o-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
}
div.widget.animation {
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
       -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        -ms-transition: opacity 0.3s, -ms-transform 0.3s;
         -o-transition: opacity 0.3s, -o-transform 0.3s;
            transition: opacity 0.3s, transform 0.3s;
}
div.widget:hover {
    z-index: 10;
    border: 3px solid rgba(255, 255, 255, 0.4);
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
         -o-transform: scale(1.05);
            transform: scale(1.05);
}


/* when this value is changed, make sure its also updated in ui class ($widget_width_big) */
div.widget1x1 {
    width: 90px;
    height: 90px;
}
div.widgete2x2 {

    height: 140px;
}
div.widgete4x2 {
    
    height: 140px;
}
div.bt {
    height: 90px;
}
div.bt1 {
    height: 240px;
}
div.widget a {
    color: #FFFFFF;
}
div.widget div.main {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    top: 100%;
    -webkit-transition: top 0.4s;
       -moz-transition: top 0.4s;
        -ms-transition: top 0.4s;
         -0-transition: top 0.4s;
            transition: top 0.4s;
}
div.widget div.main {
    height: 100%;
    top: 0px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
div.widget div.widget_content {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    overflow: hidden;
}
div.widget div.main > span {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 0.8em;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
       -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
        -ms-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
         -o-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

/*
Widget Theme
*/
div.widget_darkorange,
div.widget_darkorange div.main,
div.widget_container.darkorange div.widget,
div.widget_container.darkorange div.widget div.main {
    background-color: #ED8859;
}

div.widget_blue,
div.widget_blue div.main,
div.widget_container.blue div.widget,
div.widget_container.blue div.widget div.main {
    background-color: #0097AA;
}
div.widget_orange,
div.widget_orange div.main,
div.widget_container.orange div.widget,
div.widget_container.orange div.widget div.main {
    background-color: #F29500;
}
div.widget_darkyellow,
div.widget_darkyellow div.main,
div.widget_container.darkyellow div.widget,
div.widget_container.darkyellow div.widget div.main {
    background-color: #C3A041;
}
div.widget_green,
div.widget_green div.main,
div.widget_container.green div.widget,
div.widget_container.green div.widget div.main {
    background-color: #94C849;
}
div.widget_darkgreen,
div.widget_darkgreen div.main,
div.widget_container.darkgreen div.widget,
div.widget_container.darkgreen div.widget div.main {
    background-color: #569C63;
}
div.widget_purple,
div.widget_purple div.main,
div.widget_container.purple div.widget,
div.widget_container.purple div.widget div.main {
    background-color: #594783;
}
div.widget_darkred,
div.widget_darkred div.main,
div.widget_container.darkred div.widget,
div.widget_container.darkred div.widget div.main {
    background-color: #BE213E;
}
div.widget_darkblue,
div.widget_darkblue div.main,
div.widget_container.darkblue div.widget,
div.widget_container.darkblue div.widget div.main {
    background-color: #3C7780;
}
div.widget_yellow,
div.widget_yellow div.main,
div.widget_container.yellow div.widget,
div.widget_container.yellow div.widget div.main {
    background-color: #D9B700;
}
div.widget_darkgrey,
div.widget_darkgrey div.main,
div.widget_container.darkgrey div.widget,
div.widget_container.darkgrey div.widget div.main {
    background-color: #7784DF;
}
/*
Compact Mode
*/
@media screen and (max-height: 680px) {
    /* when this value is changed, make sure its also updated in ui class ($widget_width_small) */
    div.widget1x1 {
        width: 65px;
        height: 65px;
    }
    div.widget2x2 {
        width: 140px;
        height: 140px;
    }
    div.widget4x2 {
        width: 290px;
        height: 140px;
    }
}
.main img{
	height: 80%;
}
.loading-init{
    font-size: 45px;
    z-index: 9000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0.3);
    text-align: center;
    padding-top: 9%;
}
.loading-init span{
    font-size: 100px;
}
.titre-menu-etudiant{
    font-size: 32px;
    font-weight: bold;
}
.connexion{
    width:400px;
    height:50px;
    padding-right:15px;
    margin-top: 6px;
    margin-left: 6px;
}
.menu-etudiant{
    margin-top: 50px;
    margin-bottom: 30px;
}
.titre{
    text-align: center;
    font-size: 22px;
}
.etrait-img{
    width: 80%;
    height: auto;
}
.Student-item{
    height: 130px;
}
.Student-matricule{
    text-align: center;
    font-weight: bold;
}
.Student-matricule img{
    margin-bottom: 5px;
}




#badge-ribbon {
 position: relative;
 background: #F29500;
 text-align: center;
 padding-top: 10px;
 height: 40px;
 width: 40px;
 -moz-border-radius:    20px;
 -webkit-border-radius: 20px;
 border-radius:         20px;
 opacity: 0.5;
}

#badge-ribbon:before,
#badge-ribbon:after {
  content: '';
  position: absolute;
  border-bottom: 28px solid #F29500;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  top: 30px;
  left: -8px;
  -webkit-transform: rotate(-140deg);
  -moz-transform:    rotate(-140deg);
  -ms-transform:     rotate(-140deg);
  -o-transform:      rotate(-140deg);
}

#badge-ribbon:after {
  left: auto;
  right: -8px;
  -webkit-transform: rotate(140deg);
  -moz-transform:    rotate(140deg);
  -ms-transform:     rotate(140deg);
  -o-transform:      rotate(140deg);
}

#badge-ribbonX2 {
 text-align: center;
 position: relative;
 background: #F29500;
 opacity: 0.5;
 height: 70px;
 width: 70px;
 -moz-border-radius:    36px;
 -webkit-border-radius: 36px;
 border-radius:         36px;
}

#badge-ribbonX2:before,
#badge-ribbonX2:after {
  content: '';
  position: absolute;
  border-bottom: 50px solid #F29500;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  top: 50px;
  left: -7px;
  -webkit-transform: rotate(-140deg);
  -moz-transform:    rotate(-140deg);
  -ms-transform:     rotate(-140deg);
  -o-transform:      rotate(-140deg);
}

#badge-ribbonX2:after {
  left: auto;
  right: -7px;
  -webkit-transform: rotate(140deg);
  -moz-transform:    rotate(140deg);
  -ms-transform:     rotate(140deg);
  -o-transform:      rotate(140deg);
}


.Tite-partie{
    background: #000;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    height: 25px;
    margin-bottom: 20px;
}
.fiche-etudiant{
    background: #CECECE;
    margin-top: 50px;
}
.ligne-add-etudiant{
    margin-bottom: 50px;
    background: red;
}
.division{
    min-height: 100px;
}
.retour{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid #46B37C;
    border-bottom: 50px solid transparent;

    z-index: 100;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0.5;
    cursor: pointer;
}
.titre{
    margin-top: 5px;
    margin-bottom: 5px;
}
.padding-none{
    padding: 0px;
}

/*
 *  STYLE 5
 */

#style-5::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb
{
  background-color: #0ae;
  
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
                     color-stop(.5, rgba(255, 255, 255, .2)),
             color-stop(.5, transparent), to(transparent));
}


.widget{
    margin: 3em auto;
    background: #fff;
    border: 7px solid #aaa;
    border-radius: 30px;
    margin-bottom: 30px;
    }

.widget .main{
  border-radius: 30px;
}





