/*
________________________________________ Connection  ________________________________________________

*/
input{
	border-radius:5px;
	padding:5px;
	height:35px;
	border:2px solid #CEDEF9;
	width:60%;
	text-align:center;
}
 #widget_scroll_container {
                width: 2160px;
            }
            div.widget_container {
                width: 1200px;
            }
            div.widget_container.half {
                width: 400px;
            }
            @media screen and (max-height: 680px) {
                #widget_scroll_container {
                    width: 1660px;
                }
                div.widget_container {
                    width: 900px;
                }
                div.widget_container.half {
                    width: 300px;
                }
            }
.btn-connect{
	width:25%;
	height:50px;
	font-size: 17px;
}

.widget{
	margin: 20px 20px 0 0 ;
}
.scren{
	float: left;
	margin-left: 50px;
}

.text_shadow {
    color: #222222;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

div.widget_container {
    position: relative;
    margin-right: 50px; /* when this value is changed, make sure its also updated in ui class ($container_margin) */
    float: left;
    padding: 10px;  /* when this value is changed, make sure its also updated in ui class ($container_padding) */
    -webkit-perspective: 1000px;
       -moz-perspective: 1000px;
        -ms-perspective: 1000px;
         -o-perspective: 1000px;
            perspective: 1000px;
}
div.widget_container:last-child {
    margin-right: 0px;
}

div.widget{
    opacity: 0.5;
}

div.widget :hover{
    opacity: 1;
}
div.widget {

    float: left;
    position: relative;
    color: #FFFFFF;
    cursor: pointer;
    margin: 3px; /* when this value is changed, make sure its also updated in ui class ($widget_margin) */
    opacity: 1;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
       -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
        -ms-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
         -o-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
         -o-transform: rotateY(0deg);
            transform: rotateY(0deg);
            text-align: center;
}
div.widget.unloaded {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
       -moz-transform: rotateY(-90deg);
        -ms-transform: rotateY(-90deg);
         -o-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
}
div.widget.animation {
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
       -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        -ms-transition: opacity 0.3s, -ms-transform 0.3s;
         -o-transition: opacity 0.3s, -o-transform 0.3s;
            transition: opacity 0.3s, transform 0.3s;
}
div.widget:hover {
    z-index: 10;
    border: 3px solid rgba(255, 255, 255, 0.4);
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
         -o-transform: scale(1.05);
            transform: scale(1.05);
}


/* when this value is changed, make sure its also updated in ui class ($widget_width_big) */
div.widget1x1 {
    width: 90px;
    height: 90px;
}
div.widgete2x2 {

    height: 140px;
}
div.widgete4x2 {
    
    height: 140px;
}
div.bt {
    height: 90px;
}
div.bt1 {
    height: 240px;
}
div.widget a {
    color: #FFFFFF;
}
div.widget div.main {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    top: 100%;
    -webkit-transition: top 0.4s;
       -moz-transition: top 0.4s;
        -ms-transition: top 0.4s;
         -0-transition: top 0.4s;
            transition: top 0.4s;
}
div.widget div.main {
    height: 100%;
    top: 0px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
div.widget div.widget_content {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    overflow: hidden;
}
div.widget div.main > span {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 0.8em;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
       -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
        -ms-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
         -o-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

/*
Widget Theme
*/
div.widget_blue,
div.widget_blue div.main,
div.widget_container.blue div.widget,
div.widget_container.blue div.widget div.main {
    background-color: #0097AA;
}
div.widget_orange,
div.widget_orange div.main,
div.widget_container.orange div.widget,
div.widget_container.orange div.widget div.main {
    background-color: #F29500;
}
div.widget_red,
div.widget_red div.main,
div.widget_container.red div.widget,
div.widget_container.red div.widget div.main {
    background-color: #C23916;
}
div.widget_green,
div.widget_green div.main,
div.widget_container.green div.widget,
div.widget_container.green div.widget div.main {
    background-color: #94C849;
}
div.widget_darkgreen,
div.widget_darkgreen div.main,
div.widget_container.darkgreen div.widget,
div.widget_container.darkgreen div.widget div.main {
    background-color: #6FA014;
}
div.widget_purple,
div.widget_purple div.main,
div.widget_container.purple div.widget,
div.widget_container.purple div.widget div.main {
    background-color: #91009B;
}
div.widget_darkred,
div.widget_darkred div.main,
div.widget_container.darkred div.widget,
div.widget_container.darkred div.widget div.main {
    background-color: #BE213E;
}
div.widget_darkblue,
div.widget_darkblue div.main,
div.widget_container.darkblue div.widget,
div.widget_container.darkblue div.widget div.main {
    background-color: #3C7780;
}
div.widget_yellow,
div.widget_yellow div.main,
div.widget_container.yellow div.widget,
div.widget_container.yellow div.widget div.main {
    background-color: #D9B700;
}
div.widget_grey,
div.widget_grey div.main,
div.widget_container.grey div.widget,
div.widget_container.grey div.widget div.main {
    background-color: #4C4C4C;
}

/*
Compact Mode
*/
@media screen and (max-height: 680px) {
    /* when this value is changed, make sure its also updated in ui class ($widget_width_small) */
    div.widget1x1 {
        width: 65px;
        height: 65px;
    }
    div.widget2x2 {
        width: 140px;
        height: 140px;
    }
    div.widget4x2 {
        width: 290px;
        height: 140px;
    }
}
.main img{
	height: 80%;
}









