/*
________________________________________ Connection  ________________________________________________

*/
input{
	border-radius:5px;
	padding:5px;
	height:35px;
	border:2px solid #CEDEF9;
	width:60%;
	text-align:center;
}
.btn-connect{
	width:25%;
	height:50px;
	font-size: 17px;
}

.widget{
	height: 150px;

	margin: 20px 20px 0 0 ;
}
@media screen and (max-width: 900px) {
    /* when this value is changed, make sure its also updated in ui class ($widget_width_small) */
.scren{
	float: left;
	margin-left: 0px;
}
}
.scren{
	float: left;
	margin-left: 50px;
}