  <!-- Modal Erreur de connection -->
  <a data-toggle="modal" data-target="#Connection_error" class="error-connection" style="display: none;"></a>
  <div class="modal fade" id="Connection_error" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body bg-red fg-white">
                Veuillez verifier vos coordées <b>OU</b> assurez vous d'etre transferer dans la sesion active 
        </div>
        
      </div>
      
    </div>
  </div>